
<div style="display: table-row">

    <ul style="list-style-type: none;padding: 20px;">
        {% for event in events %}
            <li>
                {% include './event.twig' with {event:event, res:res} %}
            </li>
        {% endfor %}
    </ul>
</div>