{% extends './layout.twig' %}

{% block content %}


    <div class="myContainer">
        <div style="font-size: 1.2em;text-align: center">{{ res.cv }}</div>
        <div style="display: flex;justify-content: center">
            <img src="public/myResource/myImage/my_photo.jpg" style="width: 500px;height: 100%">
        </div>
    </div>



{% endblock %}