{% extends '../layout.twig' %}

{% block content %}
<div class="view overlay">
    <img src="public/myResource/myImage/intro{{ random(2) }}.jpg" class="wow fadeInDown" style="width: 100%; height: 400px">
    <div class="mask waves-effect waves-light"></div>
    <div class="center-text white-text">
        <div class="h1-auto-text-size wow fadeInDown">{{ res.teams }}</div>
    </div>
</div>
In progress
{% endblock %}