{% extends '../layout.twig' %}


{% block content %}

    <div class="project-item-list">
        {% block project %}
            {% for project in projects %}
                {% include './card/cardContent.twig' with {project:project} %}
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}

<style>

</style>
