{% extends '../layout.twig' %}


{% block content %}
    {% block introTitle %}
        {% include '../introTitle.twig' with {title: res.projects}%}
    {% endblock %}

        <div class="project-item-list">

        {% for project in projects %}
            {% block project %}
                {% include './card/cardContent.twig' with {project:project} %}
            {% endblock %}

        {% endfor %}
    </div>
{% endblock %}