{% block achievement %}
    <div>
        <div style="display: inline-flex">
            <h4 style="color: #ffc107">{{ achievement.title }}</h4>
        </div>
        <p>{{ achievement.description }}
            {% if achievement.status != '' %}
        <p>
            <strong>{{ achievement.status }}</strong>
        </p>
        {% endif %}
    </div>
{% endblock %}