<div style="display: table-row">

    <ul style=" list-style-type: none;padding: 20px;">
        {% for achievement in achievements %}
            <li>
                {% include './achievement.twig' with {achievement:achievement, res:res} %}
            </li>
        {% endfor %}
    </ul>
</div>