{% extends '../layout.twig' %}


{% block content %}

    <div class="profile-card">
        {% block project %}
            {% for project in projects %}
                {% include './card/cardContent.twig' with {project:project} %}
            {% endfor %}
        {% endblock %}
    </div>

    <script>
        frontendController.setNavBarTab('projects');
    </script>
{% endblock %}