
<div style="display: table-row">

    <ul>
        {% for event in events %}
            <li>
                {% include './event.twig' with {event:event} %}
            </li>
        {% endfor %}
    </ul>
</div>