<span class="badge grey badge-element" style="font-size: 100%">Git</span>
<span class="badge blue badge-element" style="font-size: 100%">SQLite/ROOM/Anko</span>
<span class="badge red badge-element" style="font-size: 100%">RxJava</span>
<span class="badge green badge-element" style="font-size: 100%">Dagger 2/Toothpick</span>
<span class="badge orange badge-element" style="font-size: 100%">Firebase</span>
<span class="badge light-blue badge-element" style="font-size: 100%">Retrofit</span>
<span class="badge amber badge-element" style="font-size: 100%">REST API</span>
<span class="badge light-green badge-element" style="font-size: 100%">Figma</span>
<span class="badge indigo badge-element" style="font-size: 100%">Continuous integration (CI)</span>
<span class="badge amber badge-element" style="font-size: 100%">AS plugin development</span>