{% block event %}
    <div>
        <div style="display: inline-flex">
            <h4 style="color: #ffc107">{{ event.title }}</h4>
        </div>
        <p>{{ event.description }}
        <p>
            <strong>{{ event.status }}</strong>
        </p>
    </div>
{% endblock %}