{% extends '../layout.twig' %}


{% block content %}
<div class="view overlay">
    <img src="public/myResource/myImage/intro{{ random(2) }}.jpg" class="wow fadeInDown" style="width: 100%; height: 400px">
    <div class="mask waves-effect waves-light"></div>
    <div class="center-text white-text">
        <div class="h1-auto-text-size wow fadeInUp">{{ res.contacts }}</div>
    </div>
</div>

<div class="project-item-list" style="margin-top: 10px;min-height: 100vh;overflow: auto;" >

    <p style="text-align: center;font-size: x-large">
        <strong>{{ res.myFullName }}</strong><br>
        akscorp2014@gmail.com<br>
        <strong>Telegram</strong> @AksenovVladimir<br>
        <hr>
    <div style="text-align: center; height: 30px">
        <div style="display: inline-flex; height: 30px;">
            <img src="public/myResource/myImage/git.svg" class="img-flex" style=" width: 30px">
            <a style="transform: translate(0,10%); margin-left: 10px;" href="https://github.com/vovaksenov99">GitHub</a>
        </div>
        <div style="display: inline-flex;height: 30px; margin-left: 20px">
            <img src="public/myResource/myImage/stack-overflow.svg" class="img-flex" style="width: 30px">
            <a style="transform: translate(0,10%); margin-left: 10px;" href="https://ru.stackoverflow.com/users/236547/%D0%90%D0%BA%D1%81%D0%B5%D0%BD%D0%BE%D0%B2-%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80">StackOverflow</a>
        </div>
        <div style="display: inline-flex;height: 30px; margin-left: 20px">
            <img src="public/myResource/myImage/in.svg" class="img-flex" style="width: 30px">
            <a style="transform: translate(0,10%); margin-left: 10px;" href="https://www.linkedin.com/in/%D0%B2%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80-%D0%B0%D0%BA%D1%81%D0%B5%D0%BD%D0%BE%D0%B2-35732b157">LinkedIN</a>
        </div>
        <div style="display: inline-flex;height: 30px; margin-left: 20px">
            <img src="public/myResource/myImage/googlePlay.svg" class="img-flex" style="width: 30px">
            <a style="transform: translate(0,10%); margin-left: 10px;" href="https://play.google.com/store/search?q=akscorp&c=apps&hl=ru">Google Play</a>
        </div>
    </div>
    </p>

</div>

{% endblock %}