
<div style="width: 100%; height: 35px;" class="unique-color-dark">
    <div class="white-text" style="font-size: 0.7rem;text-align: end;top: 50%;position: relative;transform: translate(0,-50%); margin-right: 5px">&copy; 2017 Aksenov Vladimir</div>
</div>