<footer class="page-footer font-small elegant-color">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; 2017-<span id="year"></span> Aksenov Vladimir
    </div>
    <!-- Copyright -->

</footer>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>