{% block introTitle %}
    <div class="view overlay">
        <div class="blue-gradient"
             style="width: 100%; height: 500px">
            <div class="center-text white-text">
                <div style="font-size: 5rem">{{ title }}</div>
            </div>
        </div>
    </div>
{% endblock %}