{% block introTitle %}
<div class="view overlay">
    <img src="public/myResource/myImage/intro0.jpg" class=""
         style="width: 100%; height: 400px">
    <div class="mask waves-effect waves-light"></div>
    <div class="center-text white-text">
        <div style="font-size: 5rem">{{ title }}</div>
    </div>
</div>
{% endblock %}