<div class="view overlay">
    <img src="public/myResource/myImage/intro{{ random(2) }}.jpg" class="wow fadeInDown"
         style="width: 100%; height: 400px">
    <div class="mask waves-effect waves-light"></div>
    <div class="center-text white-text">
        <div class="h2-auto-text-size wow fadeInUp">{{ res.projects }}</div>
    </div>
</div>
{% endblock %}