<!DOCTYPE html>
<head>
    <base href="/">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="public/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="public/css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="public/css/style.css" rel="stylesheet">

<script type="text/javascript" src="public/build/bundle.js"></script>

<html>
<body>
    {% block navBar %}
        {% include 'navBar.twig' %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% block footer %}
        {% include  'footer.twig' %}
    {% endblock %}


    <script type="text/javascript" src="public/js/jquery-3.2.1.min.js"></script>

    <script type="text/javascript" src="public/js/popper.min.js"></script>

    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="public/js/mdb.min.js"></script>

    <script>
      new WOW().init()
    </script>

</body>
</html>