<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Сайт портфолио Аксенова Владимира</title>
    <meta property="og:title" content="Сайт портфолио Аксенова Владимира">
    <meta name="description" content="Android и web разработчик">
    <meta property="og:description" content="Android и web разработчик">
    <meta itemprop="image" content="public/myResource/myImage/my_photo_preview.jpg">
    <meta property="og:image" content="public/myResource/myImage/my_photo_preview.jpg">
    <meta name="twitter:image" content="public/myResource/myImage/my_photo_preview.jpg">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="./public/css/bootstrap.min.css" rel="stylesheet">
<link href="./public/css/mdb.min.css" rel="stylesheet">
<link href="./public/css/style.css" rel="stylesheet">
<script type="text/javascript" src="../public/build/bundle.js"></script>

<html lang="ru">
<body>
{% block navBar %}
    {% include 'navBar.twig' %}
{% endblock %}

{% block content %}
{% endblock %}
{% block footer %}
    {% include  'footer.twig' %}
{% endblock %}


<script type="text/javascript" src="./public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./public/js/popper.min.js"></script>
<script type="text/javascript" src="./public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./public/js/mdb.min.js"></script>
<script>
    new WOW().init()
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(54026899, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/54026899" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
