
<nav class="navbar navbar-expand navbar-dark unique-color-dark">

    <!--Mask with wave-->

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Aksenov Vladimir</a>

    <!-- Collapsible content -->
    <div class="navbar-collapse">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Teams">Teams</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Contacts">Contact</a>
            </li>
        </ul>
    </div>
</nav>
