<!DOCTYPE html>
<html lang="en">

{% include 'baseCSSImports.twig' %}

<body>


<div class="view overlay">
    <img src="public/myResource/myImage/intro{{ randomIntroNum }}.jpg" class=" wow fadeInDown" style="width: 100%; height: 400px">
    <div class="mask waves-effect waves-light"></div>
    <div class="center-text white-text">
        <div class="h2-auto-text-size wow fadeInUp">{{ projects }}</div>
    </div>
</div>
{% include 'navBar.twig' %}

<div class="project-item-list">

    <div class="card hawk-color project-card project-item">
        <div class="card-body ">
            <cardBlock>
                <div>
                    <h4 class="h4-auto-text-size white-text font-weight-bold">HAWK.SO</h4>
                    <p class="white-text">Fast and lightweight errors tracking service. Catchers for JavaScript, Python,
                        PHP, Node.js, Swift are available</p>
                    <p class="white-text"><strong>Technology stack</strong>: NodeJS, Twig, MongoDB</p>
                    <p class="white-text"><strong>Team</strong>: <a href="https://ifmo.su">CodeX</a></p>
                </div>
                <div style="text-align: center;">
                    <img src="public/myResource/myImage/hawk.png" class="img-fluid card"
                         style="max-width: 711px;max-height: 620px; width: 70%; display: inline-block" alt="">
                </div>
            </cardBlock>
            <a href="https://github.com/codex-team/hawk" class="d-flex flex-row-reverse" style="margin-top: 20px">
                <h5 class="waves-effect waves-light p-2 white-text">Read more on github<i class="fa fa-chevron-right"
                                                                                          style="margin-left: 3px"></i>
                </h5>
            </a>

        </div>
    </div>
    <div class="card project-card project-item">
        <div class="card-body">
            <cardBlock>
                <div>
                    <h4 class="h4-auto-text-size dark-grey-text font-weight-bold">Capella</h4>
                    <p class="dark-grey-text">Cloud service for image storage and delivery. Upload files and accept
                        image-filters on the fly with simple API </p>
                    <p class="dark-grey-text"><strong>Technology stack</strong>: PHP, Imagick</p>
                    <p class=""><strong>Team</strong>: <a href="https://ifmo.su">CodeX</a></p>
                </div>
                <div style="text-align: center">
                    <img src="public/myResource/myImage/capella.png" class="img-fluid card"
                         style="max-width: 711px;max-height: 512px; width: 70%; display: inline-block;" alt="">
                </div>
            </cardBlock>
            <a href="https://github.com/codex-team/capella" class="d-flex flex-row-reverse" style="margin-top: 20px">
                <h5 class="waves-effect waves-light p-2 dark-grey-text">Read more on github<i
                            class="fa fa-chevron-right" style="margin-left: 3px"></i></h5>
            </a>

        </div>

    </div>

    <div class="card project-card project-item">
        <div class="card-body" style="background-image: url('public/myResource/myImage/background_translator.jpg'); background-size: auto 100%; background-repeat: no-repeat">
            <cardBlock>
                <div>
                    <h4 class="h4-auto-text-size dark-grey-text font-weight-bold" style="width: 100%;"><span style="color: red">Y</span>andex Translator</h4>
                    <p class="dark-grey-text" style="max-width: 100%;">Android translator. Created as an test work for the internship in Yandex.</p>
                    <p class="dark-grey-text"><strong>Technology stack</strong>: Java, <span style="color: red">Y</span>andex Translate API</p>
                    <a href="https://play.google.com/store/apps/details?id=com.akscorp.yandextranslator2017&hl=ru">
                    <img src="public/myResource/myImage/google_play_badge.png" class="img-fluid" style="max-width: 150px"/>
                    </a>
                </div>
                <div style="text-align: center; width: 100%;">
                    <img src="public/myResource/myImage/translator_yandex.jpg" class="img-fluid card"
                         style="max-width: 711px;max-height: 512px;display: inline-block;" alt="">
                </div>
            </cardBlock>
            <a href="https://github.com/vovaksenov99/Translator" class="d-flex flex-row-reverse" style="margin-top: 20px">
                <h5 class="waves-effect waves-light p-2 dark-grey-text">Read more on github<i
                            class="fa fa-chevron-right" style="margin-left: 3px"></i></h5>
            </a>


        </div>

    </div>

    <div class="card project-card project-item">
        <div class="card-body"  style="background-image: url('public/myResource/myImage/background_FastConfig.png'); background-size: auto 100%; background-repeat: no-repeat">
            <cardBlock>
                <div style="width: 100%;">
                    <h4 class="h4-auto-text-size dark-grey-text font-weight-bold"  style="width: 100%;" >FastConfig</h4>
                    <p class="dark-grey-text">FastConfig - <span style="color: green">C#</span> init file parser. Use as analog .config file.</p>
                    <p class="dark-grey-text"><strong>Technology stack</strong>: C#</p>
                </div>
                <div style="text-align: center; width: 100%;">
                </div>
            </cardBlock>
            <a href="https://github.com/vovaksenov99/FastConfig" class="d-flex flex-row-reverse" style="margin-top: 20px">
                <h5 class="waves-effect waves-light p-2 dark-grey-text">Read more on github<i
                            class="fa fa-chevron-right" style="margin-left: 3px"></i></h5>
            </a>

        </div>

    </div>

    <div class="card project-card project-item">
        <div class="card-body"  style="background-image: url('public/myResource/myImage/background_NeuralNetwork.png'); background-size: 100% auto; background-repeat: no-repeat">
            <cardBlock>
                <div style="width: 100%;">
                    <h4 class="h4-auto-text-size black-text font-weight-bold"  style="width: 100%;" >Neural network</h4>
                    <p class="black-text">Open neuron network with extensible architecture and status logging</p>
                    <p class="black-text"><strong>Technology stack</strong>: C#</p>
                </div>
                <div style="text-align: center; width: 100%;">
                </div>
            </cardBlock>
            <a href="https://github.com/vovaksenov99/NeuronNetwork" class="d-flex flex-row-reverse" style="margin-top: 20px">
                <h5 class="waves-effect waves-light p-2 black-text">Read more on github<i
                            class="fa fa-chevron-right" style="margin-left: 3px"></i></h5>
            </a>

        </div>

    </div>

    <div class="card project-card project-item">
        <div class="card-body"  style="background-image: url('public/myResource/myImage/background_blueBoard.png'); background-size: auto 100%; background-repeat: no-repeat">
            <cardBlock>
                <div style="width: 100%;">
                    <h4 class="h4-auto-text-size black-text font-weight-bold"  style="width: 100%;" >BlueBoard</h4>
                    <p class="black-text">Android notification system</p>
                    <p class="black-text"><strong>Technology stack</strong>: Java, ASP.NET, my libraries below</p>
                </div>

                <div style="text-align: center; width: 100%;">
                    <img src="public/myResource/myImage/blueBoard.png" class="img-fluid"
                         style="max-width: 711px;max-height: 512px;display: inline-block; margin-left: 50%" alt="">
                </div>
                <div style="text-align: center; width: 100%;">
                </div>
            </cardBlock>
        </div>

    </div>

    <div class="card project-card project-item">
        <div class="card-body"  style="background-image: url('public/myResource/myImage/background_material.jpg'); background-size: 100% auto; background-repeat: no-repeat">
            <cardBlock>
                <div style="width: 100%;">
                    <h4 class="h4-auto-text-size white-text font-weight-bold"  style="width: 585px;" >Android modules</h4>
                    <h6 class="h6-auto-text-size white-text font-weight-bold"  style="width: 585px;" >Google calendar module</h6>
                    <p class="white-text">Use for add, remove and etc. event to Google Calendar</p>
                    <a href="https://github.com/vovaksenov99/Google_calendar_work" class="d-flex flex-row-reverse" style="margin-top: 20px">
                        <h5 class="waves-effect waves-light p-2 white-text">Read more on github<i
                                    class="fa fa-chevron-right" style="margin-left: 3px"></i></h5>
                    </a>
                    <h6 class="h6-auto-text-size white-text font-weight-bold"  style="width: 585px;" >Custom date picker module</h6>
                    <p class="white-text">It should be used for check certain date or range in calendar</p>
                    <a href="https://github.com/vovaksenov99/Custom-DatePicker-AND-DatePickerDialog" class="d-flex flex-row-reverse" style="margin-top: 20px">
                        <h5 class="waves-effect waves-light p-2 white-text">Read more on github<i
                                    class="fa fa-chevron-right" style="margin-left: 3px"></i></h5>
                    </a>
                    <h6 class="h6-auto-text-size white-text font-weight-bold"  style="width: 585px;" >Custom step seek bar module</h6>
                    <p class="white-text">You can add several step in your seek bar</p>
                    <a href="https://github.com/vovaksenov99/CustomSeekBar-Widget" class="d-flex flex-row-reverse" style="margin-top: 20px">
                        <h5 class="waves-effect waves-light p-2 white-text">Read more on github<i
                                    class="fa fa-chevron-right" style="margin-left: 3px"></i></h5>
                    </a>
                    <p class="white-text"><strong>Technology stack</strong>: Java</p>
                </div>
                <div style="text-align: center; width: 100%;">
                </div>
            </cardBlock>


        </div>

    </div>
</div>


{% include 'baseScriptImports.twig' %}

<script>
  new WOW().init()
</script>
{% include 'copyright.twig' %}

</body>

</html>
