{% extends './layout.twig' %}


{% block content %}
    <div id="container" style="display: flex;justify-content: center;position: relative;height: 80vh;font-size: 1.5em"
         class="quoteContainer">
        <div class="align-content-center quoteContainer"
             style="width: 45%;position: relative;top: 50%;transform: translate(0,-50%);height: fit-content;">
            <div style="color: #555555; font-size: 1.5em;font-weight: 200;text-align: center;margin-bottom: 50px">Время
                написать что-нибудь <span style="color: black;font-weight: 300">Прекрасное</span></div>

            <div class="md-form input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon" id="material-addon1">@</span>
                </div>
                <input id="author" type="text" class="form-control" placeholder="Автор" aria-label="Автор"
                       aria-describedby="material-addon1">
            </div>
            <div class="md-form" style="margin-left: 13px">
                <div class="">
                </div>
                <textarea id="quote" class="md-textarea form-control" aria-label="With textarea"
                          placeholder="Невероятная цитата..."></textarea>
            </div>
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0 black-text"
                    onclick="insertQuotes()" style="margin-top: 20px;border: 2px solid #404040!important;">Готово
            </button>
        </div>
    </div>

    <script>
        let container = document.getElementById("container");

        let insertQuotes = function () {
            let quote = document.getElementById("quote").value;
            let author = document.getElementById("author").value;
            let data = {
                "phrase": quote,
                "author": author,
                "likes": []
            };


            let xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://api.mlab.com/api/1/databases/heroku_wlzlp8gz/collections/quotes?apiKey=ZpiR6lx2sN0U7Dva96IC89CTuRn8VZWH', true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify(data));

            xhr.onreadystatechange = function () {
                if (xhr.status !== 200) {
                    alert("Что-то пошло не так :(");
                } else {
                    container.classList.add('fadeOut');
                    container.classList.remove('fadeIn');

                    window.setTimeout(function () {
                        container.innerHTML = '<div style="font-size: 2.5em;width:100%;text-align: center;position: relative;top: 50%;transform: translate(0,-50%);height: fit-content;"><span style="font-style: italic; font-weight: 400;text-align: center;">Вы</span> восхитительны</div>';
                        container.classList.remove('fadeOut');
                        container.classList.add('fadeIn');

                        window.setTimeout(function () {
                            document.getElementsByTagName("body")[0].classList.add('fadeOut');
                            window.setTimeout(function () {
                                window.location = '{{ hostname }}/WisdomPage';
                            }, 600);

                        }, 1700);
                    }, 400)
                }
            }


        }
    </script>

    <style>
        .btn-outline-info:hover {
            color: #000 !important;
        }

        .btn-outline-info {
            color: #000 !important;
        }

        .btn-outline-info:focus {
            color: #000 !important;
        }

        .btn-outline-info:focus-within {
            color: #000 !important;
        }
    </style>
{% endblock %}
