<div style="height: 10vh;max-height: 10vh;position: relative;">


    <footer class="page-footer font-small" style="color: #444444;position: relative;transform: translate(0,-50%);top: 50%;">

        <!-- Copyright -->
        <div class="text-center" style="">© 2019 Copyright:
            <a href="{{ hostname }}" style="color: #444444;"> Aksenov Vladimir</a>
            <a href="{{ hostname }}/WisdomPage/admin" style="color: #444444;;top: 10px; text-decoration: underline;"><br> Добавить свою вдохновляющую цитату</a>
        </div>

        <!-- Copyright -->

    </footer>

</div>
