<div style="height: 10vh;position:relative;cursor: pointer" onclick="window.location ='{{ hostname }}/WisdomPage'">
    <h1 class="h1-reponsive text-uppercase center-text" style="text-align: center;position: relative;
    top: 50%;
    transform: translate(0,-50%);"><strong>⚜ More than words, less than wisdom ⚜</strong>
    </h1>
    <div class="" style="border-top:1px solid #e6e6e6;position: absolute;bottom: 0;width: 100%"></div>
</div>

