/* Colors */
.dark-grey-text {
    color: #1C2A48;
}

.hawk-color {
    background: #2e2e3c;
}

.center-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

/**
    Caption size by screen size
 */
.h1-auto-text-size {
    font-size: calc(6vw)
}

.h2-auto-text-size {
    font-size: calc(5vw)
}

.h3-auto-text-size {
    font-size: calc(4vw)
}

.h4-auto-text-size {
    font-size: calc(3vw)
}

.h5-auto-text-size {
    font-size: calc(2vw)
}

.h6-auto-text-size {
    font-size: calc(1vw)
}

cardBlock:first-child {
    display: flex;
}

/**
    Project card styles
 */
@media screen and (min-width: 1300px) {

    .project-card {
        margin: 0px 135px;
    }
}

.project-item-list {
    display: list-item;
}

.project-item {
    position: relative;
    margin-top: 45px;
    margin-bottom: 45px;
    height: fit-content;
}

.project-item-list-title {
    font-size: 3rem;
    text-align: center;
}

/**
    Nav bar language toggle button
 */
.lang-button {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;

}

/**
    Skills page
 */

.profile-info {
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
    margin-bottom: 3%;
}

.skills-list {
    position: relative;
    height: 100%;
    display: table;
}

.badge-element {
    margin: 5px;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 3px;
}



@media screen and (min-width: 1300px) {

    .skill {
        width: 100%;
        padding-left: 20px;
    }

    .profile-card {
        margin-left: 3%;
        margin-top: 3%;
        margin-right: 3%;
        position: relative;
        padding-right: 2%;
        padding-top: 2%;
        padding-left: 2%;
        margin-bottom: 3%;
        padding-bottom: 2%;
    }
}

ul.instagram-photos li img {
    margin: 0
}

.media .icon-shadow {
    padding-left: 10px;
}

/**
    Nav bar fixed style
 */
@media screen and (min-width: 1300px) {
    .navbar {
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media screen and (max-width: 1300px) {
    .navbar {
    }

    .lang-button {
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
        font-size: 1.8em;
    }
}

/**
    Mobile version
 */
@media screen and (max-width: 1300px) {

    cardBlock:first-child {
        display: block;
    }

    .project-card {
        margin: 10px 20px;
    }

    .profile-card {
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar-expand .navbar-collapse .navbar-nav {
        display: list-item;
        font-size: 2em;
    }

    .navbar-expand {
        display: list-item;
    }

    .skill {
        width: 100%;
        padding-left: 20px;
    }

    .profile-info {
        display: list-item;
        width: 100%;
    }

}

@media screen and (min-width: 1300px) {

    .card-grid {
        display: grid;
        grid-auto-columns: 40% 60%;
        height: fit-content;
    }
}

@media screen and (max-width: 1300px) {
    .card-grid {
        display: block;
        height: fit-content;
    }

    .center {
        padding-left: 50%;
        transform: translate(-25%, 0);
    }

    html {
        font-size: 1.8em;
    }
}
