/* Colors */
.dark-grey-text {
    color: #1C2A48;
}

.hawk-color {
    background: #2e2e3c;
}

.elegant-gradient {
    background: -webkit-linear-gradient(50deg, #212121, #444444) !important;
    background: -o-linear-gradient(50deg, #212121, #444444) !important;
    background: linear-gradient(40deg, #212121, #444444) !important;
}

.center-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

/**
    Caption size by screen size
 */
.h1-auto-text-size {
    font-size: calc(6vw)
}

.h2-auto-text-size {
    font-size: calc(5vw)
}

.h3-auto-text-size {
    font-size: calc(4vw)
}

.h4-auto-text-size {
    font-size: calc(3vw)
}

.h5-auto-text-size {
    font-size: calc(2vw)
}

.h6-auto-text-size {
    font-size: calc(1vw)
}

cardBlock:first-child {
    display: flex;
}

.skill-description p {
    font-weight: 400;
    font-size: 1.2em;
}

/**
    Project card styles
 */
@media screen and (min-width: 1300px) {

    .project-card {
        margin: 0px 135px;
    }
}

.project-item-list {
    margin-top: 6%;
    display: list-item;
}

.project-item {
    position: relative;
    margin-top: 45px;
    margin-bottom: 45px;
    height: fit-content;
}

.project-item-list-title {
    font-size: 3rem;
    text-align: center;
}

/**
    Nav bar language toggle button
 */
.lang-button {
    padding: 8px;
    margin: 0px;
    font-size: 1em;
}

/**
    Skills page
 */

.profile-info {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    margin-bottom: 3%;
}

.skills-list {
    position: relative;
    height: 100%;
    display: table;
}

.badge-element {
    margin: 5px;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 3px;
}

.star-rating {
    display: inline-flex;
    list-style-type: none;
}

.fa-star {
    margin-right: 3px;
}

.icon-contact {
    width: 35px;
    height: 35px;
}

@media screen and (min-width: 1300px) {

    .skill {
        width: 100%;
        padding-left: 20px;
    }

    .profile-card {
        margin-left: 3%;
        margin-top: 120px;
        margin-right: 3%;
        position: relative;
    }
}

ul.instagram-photos li img {
    margin: 0
}

.media .icon-shadow {
    padding-left: 10px;
}

/**
    Nav bar fixed style
 */
@media screen and (min-width: 1300px) {
    .navbar {
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .profile-photo {
        height: 75%;
        width: 100%;
    }
}

@media screen and (max-width: 1300px) {
    .navbar {
        min-height: 160px;
    }

    .lang-button {
        padding: 8px;
        margin: 0px;
        font-size: 1em;
    }

    .profile-photo {
        height: 75%;
        width: 100%;
    }

    .profile-image-container{
        margin: 5%;
    }
}

/**
    Mobile version
 */
@media screen and (max-width: 1300px) {
    .current-job {
        padding: 40px;
        display: block;
        width: fit-content;
        margin: 40px auto;
    }

    cardBlock:first-child {
        display: block;
    }

    .project-card {
        margin: 10px 20px;
    }

    .profile-card {
        width: 100%;
        margin: 200px 30px 10px;
    }

    .achievements-icon {
        width: 60px;
        margin-right: 20px;
    }

    .navbar-expand .navbar-collapse .navbar-nav {
        display: list-item;
        font-size: 2em;
    }

    .navbar-expand {
        display: list-item;
    }

    .skill {
        width: 100%;
        padding-left: 20px;
    }

    .profile-info {
        display: inline;
        width: 100%;
    }

    .contact-intro {
        margin-top: 160px
    }

}

@media screen and (min-width: 1300px) {

    .card-grid {
        display: grid;
        grid-auto-columns: 40% 60%;
        height: fit-content;
    }

    .current-job {
        padding: 20px;
        display: block;
        width: fit-content;
        margin: 20px auto;
    }
}

@media screen and (max-width: 1300px) {
    .card-grid {
        display: block;
        height: fit-content;
    }

    .center {
        padding-left: 50%;
        transform: translate(-25%, 0);
    }

    html {
        font-size: 1.8em;
    }
}

