/* Your custom styles */

/* Image with text */

.dark-grey-text
{
    color: #1C2A48;
}

.img-flex{
    width:100%;
    height:auto;
}
.center-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.h1-auto-text-size{
    font-size: calc(6vw)
}
.h2-auto-text-size{
    font-size: calc(5vw)
}
.h3-auto-text-size{
    font-size: calc(4vw)
}
.h4-auto-text-size{
    font-size: calc(3vw)
}
.h5-auto-text-size{
    font-size: calc(2vw)
}
.h6-auto-text-size{
    font-size: calc(1vw)
}

.hawk-color
{
    background: #2e2e3c;
}

@media screen and (min-width: 800px) {

    .project-card {
        margin: 0px 135px;
    }
    cardBlock:first-child
    {
        display: flex;
    }
}
@media screen and (max-width: 800px){


    cardBlock:first-child
    {
        display: block;
    }
    .project-card {
        margin: 0px 20px;
    }
}


.project-item-list
{
   display: list-item;
}

.project-item
{
    position: relative;
    margin-top: 45px;
    margin-bottom: 45px;
    height: fit-content;
}

.project-item-list-title
{
    font-size: 3rem;
    text-align: center;
}


